@import url('https://fonts.googleapis.com/css?family=Lato');
body {
	/* Defining color variables */
	--primary: #F2F6FA;
	/* --secondary: #24AEF2; */
	--secondary: #337ab7;
	--accent: #FF2D36;
	--nav-height: 60px;
	background-color: var(--primary);
	font-family: lato, "helvetica neue", helvetica, arial;
}


/* Stying for hte navbar */

#nav {
	display: grid;
	grid-template-columns: 120px auto 30%;
	/* grid-template-rows: auto; */
	grid-template-areas: "logo . menu";
	min-height: var(--nav-height);
	background-color: white;
	justify-items: center;
}

#logo {
	height: var(--nav-height);
	width: 100%;
	text-align: center;
	grid-area: logo;
	color: white;
	background-color: var(--secondary);
	/* font properties */
	font-size: 22px;
	font-weight: bold;
}

#menu {
	grid-area: menu;
}

#menu>a {
	color: #8D95A6;
	fill: #8D95A6;
	font-weight: 700;
	font-size: 15px;
}


/* Defining the main grid */

#grid-container {
	display: grid;
	grid-template-columns: 30% auto 30%;
	grid-template-rows: auto;
	grid-template-areas: ". main menu"
}


/* Centered part of the grid ( contains everything other than the navbar )*/

.main {
	grid-area: main;
	justify-items: center;
	text-align: center;
}

#singup-text {
	font-weight: bold;
	font-size: 22px;
	text-align: left;
}


/* Cotnains the form */

.form-container {
	border-radius: 10px;
	padding: 50px, 0px, 0px, 0px;
	margin-top: 20px;
	justify-content: center;
	width: 100%;
	border-radius: 5px;
	line-height: 30px;
}


/* Elements withing the Form container */

label {
	background-color: white;
	position: relative;
	clear: both;
	display: block;
	margin-top: 1px;
	margin-bottom: 20px;
	overflow: hidden;
	border: 1px solid rgba(32, 45, 74, .2);
	border-radius: 4px;
}

label>input {
	font-size: 22px;
	font-weight: 300;
	line-height: 32px;
	padding: 50px 30px 20px;
	width: 100%;
	background: 0 0;
	border: 0;
}

label>span {
	position: absolute;
	display: block;
	margin-bottom: 10px;
	padding: 20px 30px 0;
	font-weight: 700;
	color: #202D4A;
}

/* Hides the div until the keys are returned */
#hide-until-keys{
	display: none;
}


/* ABSTRACT STYLES */

.shadow {
	box-shadow: 0 5px 10px rgba(21, 57, 130, .05);
}

.btn {
	border-radius: 23px;
	background-color: var(--secondary);
	border-color: var(--secondary);
	width: 100%;
	font-weight: bold;
}


.loader {
	display: none;
}


.box {
	border: 1px solid rgba(32, 45, 74, .2);
	border-radius: 4px;
	margin-top: 1px;
	margin-bottom: 20px;
	background-color: white;
	font-size: 24px;
	text-align: left;
	padding-left: 15px;
}

.box > h1 {
	font-weight: bold;
	text-align: center;
}




/*  By default valued ..adjusted in jquery */
#show-block-data{
	font-size: 22px;
}


#key-list {
	word-break: break-all;
}